@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: rgb(2, 3, 11); */
  font-family: "EB Garamond" , sans-serif;
}

html{
  font-size: 62.5%;
}

.header{
padding: 0 4.8rem;
height: 80px;
display: flex;
justify-content: space-between;
align-items: center;
background-color: #faaec1;
/* position: fixed; */
/* width: 100%; */
}

.navbar{
  padding: 0 4.8rem;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #faaec1;
  position: fixed;
  /* width: 100%; */

}
.navbar-list{
  display: flex;
  gap: 20rem;
  list-style: none;
  padding-left: 120px;
}

.navbar-links:link,
.navbar-links:visited{
  display: inline-block; 
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  font-weight: 0px;
  color:#723429;
  transition: all 0.3s;
}

.navbar-links:hover , .navbar-links:active{
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

  /* background img for main section */
.main-c {
  background-image: url("bk2.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; /* Adjust the height as needed */
}

.hero{
  font-size:20px;
  color: white;
  padding: 50px 90px;
  
}

.button{
  border-radius: 50px;
  font-size: 20px;
  padding: 10px 20px;
  margin: -10px;
  background-color: #D0F7EE;
  color:#723429;
  border-color:#D0F7EE;
}
.button:hover{
  color:#04a47f
}

.my-line {
  border: none;
  height: 1px;
  background-color: #ffffff; /* Replace with desired line color */
  margin: 20px 0; 
}


.menu , .picks , .pick-items , .story ,.content-heading {

  font-size:20px;
  color:#723429;

  
}

.menu-items{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20rem;
  padding: 30px 0px;
  ;

}
.menu-items li{
  flex:0 0 100px ; /* Adjust item width as needed */
  padding: 2px;
  background-color:#D0F7EE;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  font-weight: 0px;
  color:#723429;

}
.center-heading {
  text-align: center;
}

.box {
  border: 2px solid #000000; /* Replace with desired border color */
margin: 20px;}

.pick-items{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 220px;
}


.story{
  display: flex;
}

.story img{
height: 500px;
}
.content-heading{
  text-align: center;
  background-color: #faaec1;
height: 80px;
padding: 20px 0px;
text-transform: uppercase;
}

.content1{
  font-size: 20px;
  padding: 30px 15px;
  text-align: center;
}

.contacts{
  height: 200px;
  background-color: #faaec1;
  display: flex;
  gap: 23cm;
}

/* .contact1, .contact2 , .contact3{
  padding: 40px 50px;
  font-size: 13px;
  color:#723429;
  text-transform: uppercase;
  
} */

/* .contact1 p{
  font-size: 15px;

}
.icons {
  list-style: none;
display: flex;
gap: 10px;
}
.icons img{
  height: 30px;
}

#head{
  text-align: center;
} */
.container{
  width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-around;

}

.container img{
  width: 300px;
  height: 300px;
}

.item{
  flex-basis: 23%;
  box-shadow: 0px 0px 10px 1px lightgray;
  background: white;
  margin: 10px 10px;
  padding: 20px 0px;
  text-align: center;
  background-color: #fdfef7;


}

.item1 {
  flex-basis: 23%;
  /* box-shadow: 0px 0px 10px 1px lightgray;
  background: white; */
  margin: 10px 10px;
  padding: 20px 0px;
  text-align: center;
  background-color: #fdfef7;
  gap: 1.2rem;
}

.item1 img{
  padding: 20px 0px;
  border-radius: 200px;
  /* margin: 10px; */

}

.item h3 , .item1 h3{
  padding: 10px 0px;
  font-size: 20px;
  color: #723429;

}
.item p{
  font-size: 16px;
  color: #723429;
}

.item button{
  background:#D0F7EE;
  padding: 12px 20px;
  font-size: 20px;
  border:none;
  border-radius: 40px;
  margin: 10px;
  color: #723429;
}

.item button:hover{
  color: #04a47f;
}

.contact{
  font-size: 13px;
  color: #723429;
  padding: 30px 0px;
  text-transform: uppercase;
}

.vlinks{
  list-style: none;
  font-size: 17px;
  padding: 12px 0px;
  text-transform: none;
}
.contact-links:link,.contact-links:visited{
  text-decoration: none;
  transition: all 0.3s;
  color:#723429;
}

.contact-links:hover , .contact-links1:hover{
  color: #fdfef7  ;
}

.icons img{
  height: 20px;
  width: 20px;
  
}

.icons{
  list-style: none;
  /* display: flex; */
}

.contact-links1{
  margin: 5px;
  text-decoration: none;
  color: #723429;
  text-transform: none;
  font-size: 17px;
}
